*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container{
    width: 45%;
    font-family: 'EB Garamond', serif;
    margin: 50px auto;
    background-color:white ;
    padding-bottom: 20px;
    -webkit-box-shadow: 4px 7px 17px 0px rgba(143,140,143,1);
    -moz-box-shadow: 4px 7px 17px 0px rgba(143,140,143,1);
    box-shadow: 4px 7px 17px 0px rgba(143,140,143,1);
}
.container img{
    height: 80%;
    width: 70%;
    padding-top: 5px;
}
.container .photo {
    text-align: center;
    border-bottom: #9F9191 0.5px solid;
}
.bio {
    padding: 0 40px;

}
.bio h2{
    font-size: 2rem;
    text-align: center;
    
}
.quote{
    font-style: italic;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.bio .fas{
    padding-right: 10px;
    line-height: 2rem;
    padding:0 0 27px 60px;
}
.hobb , .bio h3{
    padding-left: 60px;
    padding-bottom: 2rem;
}
.bio h3{
    text-decoration: underline;
}
.join-btn{
    text-align: center;
}
.join{
    width: 120px;
    padding: 8px;
    border-radius: 50px;
    border-style: none;
    background-image: linear-gradient(to right, #f6bed6 , #fe91ca, #e36387);
    color: white;
    cursor: pointer;
    transition: transform .2s;
}
.join:hover{
    transform: scale(1.2);
}
.intro{
    text-align: center;
    margin-bottom: 30px;
}