body{
    background-color: #0e0e13;
  }
  .container{
      display: flex;
      padding: 3% 200px;
      margin-top: 5.8vh;
      max-height: auto;
  }
  .clubs{
      padding: 2% 3% 1% 3%;
      /* border: .5px solid #797a7e; */
      border-radius: 25px;
      height: 81vh;
      width: 40vw;
      /* line-height: 1px; */
      text-align: left;
      line-height: 2rem;
      position: sticky;
      top: 13%;
      background-color: #1C1C24;
      
      /* box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2); */
  }
  li{
      list-style: none;
      font-size: 1rem;
    padding-top: 10px;
    /* margin-left: 20px; */
    display: flex;
    align-items: center;
    justify-content: start;
    letter-spacing: 1px;
  }
  .clubs a{
    text-decoration: none;
    color: black;
    
  }
  .clubs .fas{
    color: #fff;
  }
  .clubs h2{
    text-transform: uppercase;
    font-size: 16px;
    /* padding-bottom: 1%; */
    color: #cdcddb;
    /* margin-left: 20px; */
    letter-spacing: 1.5;
  }
  .clubs i{
    padding-right: 10px;
  }
  .clubs li:hover{
    transform: scale(1.1);
    transition: .1s ease-in;
  }
  
  *:focus{
    outline: none;
    border: none;
  }
  
  .right-part{
      display: flex;
      flex-direction: column;
      padding: 2px 1% 1% 1%;
      /* border: 1px solid black; */
      border-radius: 25px;
      height: auto;
      width: 75%;
      margin-left: 20px;
  }
  .right-part .new-post .newpost-pic img{
      height: 40px;
      width: 40px;
      border-radius: 50px;
  }
  .new-post{
      display: flex;
      flex-direction: column;
      
      padding: 20px 30px;
      /* border: .5px solid #797a7e; */
      border-radius: 25px;
      background-color: #1C1C24;
      /* box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2); */
  }
  .wrapper{
      display: flex;
      flex-direction: row;
  }
  .newpost-text{
      display: flex;
      align-items: center;
      width: max-content;
  }
  .newpost-text #text{
      margin-left: 10px;
      border: none;
      padding-top: 12px;
      outline: none;
      box-sizing: border-box;
      width: 100%;
  }
  
  .posts{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #1C1C24;
      /* box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2); */
  }
  .endline{
      margin: 5px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 97%;
  }
  .endline .fas{
      padding-right: 80px;
  }
  .endline .btn{
      padding: 0% 5%;
      background-color: none;
      /*border-radius: 25px;*/
      /* border: 1px solid #797a7e; */
      cursor: pointer;
      letter-spacing: 1.2px;
      font-weight: 600;
      /* width: 120px; */
      /*padding: 8px;*/
      border-radius: 50px;
      border-style: none;
      /* background-image: linear-gradient(to right, #00d2ff, #3a7bd5, #00d2ff); */
      background-color: #343441;
      color: white;
      /*cursor: pointer;*/
      transition: transform .2s;
    background-image:  linear-gradient(to right, #E69BC2 , #9C92F2);
  }
  
  .btn:hover {
    transform: scale(1.2);
    background-image:  linear-gradient(to left, #E69BC2 , #9C92F2);
    transition: ease-in .1s;
  }
  
  .posts{
      border-radius: 25px;
      /* border: 1px solid #797a7e; */
      margin-top: 20px;
      padding: 20px 30px;
  }
  
  /*.posts .card .header {
      
      box-sizing: border-box;
  }
  */
  .header .prof-img {
    display: inline-block;
    /* background-image: url(../static/pfp.jpg);
    background-size: cover; */
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
  .top-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .header .prof-info {
    display: inline-block;
    
    
  }
  .fa-bars::before{
    display: none;
  }
  
  .prof-info .name {
    font-size: 14px;
    color: #111;
    font-weight: 700;
  }
  
  .prof-info .location {
    font-size: 12px;
    color: #111;
  
  }
  .header .time {
    display: inline-flex;
    float: right;
    font-size: 12px;
    top: 10px;
    position: relative;
    margin-top: 2px;
  }
  
  .card .post-img .img{
  
    height: auto;
    width: 100%;
    padding-top: 10px;
  }
  
  .posts .footer {
      display: flex;
      justify-content: flex-start;
      align-items: left;
      flex-direction: column;
  
  }
  
  .footer .likes {
      display: inline-flex;
      padding-top: 10px;
  }
  
  .footer .likes .like-count {
      padding-left: 10px;
  }
  .like-btn{
    background-color: transparent;
    border: none;
    font-size: 13;
    font-weight: bolder;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
  }
  .fa-heart::before{
    /* margin-top: 5px; */
    font-size: 13;
  }
  
  .footer .description {
      padding-top: 5px;
      padding-bottom: 5px;
      
  }
  
  .footer .post-after {
    display: inline-flex;
    margin-top: 5px;
    width: 100%;
    
      
  
  }
  
  #comment-img{
    display: inline-block;
    
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
  
  .post-after .comment-text {
      padding: 10px;
      width: 100%;
      outline: none;
      border: none;

  }
  
  .post-after .options {
      float: right;
  }
  .comment #text2{
    width: 100%;
    background-color: transparent;
    
  }
  #text{
    background-color: transparent;
    color: #D9D9D9;
  }
  
  .user{
    display: flex;
    flex-direction: row;
    font-size: 15;
    padding: 3px 0;
  
  }
  .username{
    font-weight: 600;
  }
  .caption{
    margin-left: 10px;
  }
  .post-after{
    padding: 3px 3px;
    /* border:1px solid #797a7e; */
    border-radius: 15px;
    background-color: #343441;
  }
  .options .fas{
    padding-top: 9px;
    padding-left: 10px;
  }
  /* .post-div{
    display: flex;
    flex-direction: column-reverse;
  } */
  .like-icon i{
    font-size: 1.2rem;
    cursor: pointer;
  }
  .like-icon i:hover{
      color: red;
      cursor: pointer;
  }
  .btn-trans{
    background-color: transparent;
    border: none;
}
.upload-box{
  /* background-color: white; */
  width: 40%;
  border-radius: 50px;
  /* box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);; */
}
  input[type=file]::-webkit-file-upload-button {
    border: none;
    color: white;
    padding: 10px 9px;
    border-radius: 50px;
    background-color: #343441;
    transition: 1s;
    outline: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 1030px){
    .container{
        margin-top: 5%;
        /* overflow: hidden; */
        padding: 3% 8% 3% 5%;
        position: relative;
    }
    .clubs{
      position: absolute;
        
        left: 0;
        width: 45%;
        background-color: #0e0e13;
        border-radius: unset;
        z-index: 2;
        height: 100%;
        top: 13.5vh;
        transform: translateX(-100%);
    }
    .fa-bars::before{
      display: block;
      z-index: 100;
      /* margin: 10px 10px 0 0; */
      position: sticky;
      position: -webkit-sticky;
      top: 15%;
      margin-right: 10px;

    }
    .right-part{
      width: -webkit-fill-available;
      margin: auto;
    }
    .newpost-text{
      width: auto;
    }
  }
  .newh{
    color: red;
  }
  @media only screen and (max-width: 760px){
    .container{
      margin-top: 20%;
    }
  }