*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */

.navbar{
    padding: 12px 110px 12px 110px;      
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(166,173,201,.2); 
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    min-height: 7.5vh;
    position: fixed;
    /* overflow: hidden; */
    background-color: white;
}
.logo a{
    text-decoration: none;
    color: black;
}
.navbar .middle , .navbar .acc{
    display: flex;
}
.navbar .middle li {
    text-decoration-style: none;
    list-style: none;
}
.navbar .middle a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0 40px;
}
.acc li{
    text-decoration-style: none;
    list-style: none;
    padding: 0 20px;
}
.fas{
    font-size: 1.1rem;
    padding-top: 2px;
}
.pfp{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid;
    
}
.middle ul, .acc ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.search-box{
    background: white;
    height: 23px;
    border-radius: 40px;
    padding: 0 5px 0 7px;
    border: 1px solid #797a7e;
    display: flex;
    
}
/* .search-btn{
    color: #797a7e;
    float: right;
    width: 18px;
    height: 0px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
} */
.search-txt{
    border: none;
    background: none;
    outline: none;
    
    padding: 0;
    color: black;
    transition: 0.4s;
    height: 20px;
    width: 100px;   
}

.acc{
    margin-left: 100px;
    
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.middle{
    position: relative;
    left: 10.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
}


.btn-final{
    padding: 0;
    border: none;
    background: none;
    color: #797a7e;
    cursor: pointer;
}
.corner-img{
    border: none;
    padding-left: 10px;
    background: none;
    outline: none;
    cursor: pointer;
    
}
.dropdown .corner-img:hover{
    background: none;
}
.dropdown div a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px 25px;
}
.dropdown div a:hover{
    background-color: lightgrey;
}
.dropdown div{
    background-color: #fff;
    box-shadow:0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: .3s;
    position: relative;
    right: 7.8%;
    padding: 5px 0;
}
.dropdown{
    display: inline-block;
        
}
.dropdown:hover div{
    position: absolute;
    opacity: 1;
    display: block;
    
}
.div .fas{
    padding: 0 5px;
}
@media only screen and (max-width: 760px){
    .middle{
        position: absolute;
        left: 0;
        height: 6vh;
        top: 8vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        border-bottom: 1px solid rgba(166,173,201,.2);
        position: fixed;
        background-color: white;
        padding-top: 1vh;
    }
    .logo{
        padding-right: 10px;
    }
    .navbar{
        border-bottom: none;
    }

}