ul {
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
}

.navbar2{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;


}

.navbar2 .elements {
	display: inline-flex;
	padding-left: 50px;

}

.fas, .far {
	font-size: 1.1rem;
	padding-right: 4px;
}


.elements > * {
	padding-left: 60px;
}

.elements a {
	text-decoration: none;
	display: inline-block;
	color: #000;

}

.elements a::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #000;
	transition: width .3s;
     
}

.elements a:hover::after {
	width: 100%;
	transition: width .3s;
}




