ul {
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
}

.navbar2{
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	position: fixed;
	background-color: white;
	top: 8vh;
	width: 100%;
	padding-left: 13%;
	
}

.navbar2 .elements {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	
}

.fas, .far {
	font-size: 1.1rem;
	padding-right: 4px;
}


/* .elements > * {
	padding-left: 60px;
} */

.elements a {
	text-decoration: none;
	display: inline-block;
	color: #000;

}

.elements a::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #000;
	transition: width .3s;
     
}

.elements a:hover::after {
	width: 100%;
	transition: width .3s;
}
.elements li{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 760px){
	.navbar2{
		top: 13vh;
		padding-right: 13%;
	}
	.navbar2 .elements{
		width: 100%;
	}
}
@media only screen and (max-width: 1020){
	.navbar2 .elements{
		width: 100%;
	}
}

