*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    padding: 12px 70px 12px 70px;      
    display: flex;
    justify-content: space-between;
    border-bottom: #9F9191 0.5px solid; 
    
}
.logo a{
    text-decoration: none;
    color: black;
}
.navbar .middle , .navbar .acc{
    display: inline-flex;
}
.navbar .middle li {
    text-decoration-style: none;
    list-style: none;
}
.navbar .middle a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 40px;
}
.acc li{
    text-decoration-style: none;
    list-style: none;
    padding-right: 20px;
}
.fas{
    font-size: 1.1rem;
    padding-top: 2px;
}
.pfp{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.middle ul, .acc ul{
    list-style: none;
    display: flex;
    justify-items: center;
}