*, *::before, *::after {
  box-sizing: border-box;
  
}

/*:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}*/



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 100px 150px;
  box-shadow: 0 0 10px 2px;
  margin-top: 100px;

}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid yellow, 100%, 30%;
  background-color: rgba(0%,0%,0%,0.6) ;
  border-radius: 5px;
  padding: 5px 10px;
  color: rgba(0%,0%,0%,0.3);
  outline: none;
}

.btn:hover {
  border-color: black;
  cursor: pointer;
}


.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hide {
  display: none;
}