
.container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.container {
	border-radius: 25px;
    border: .5px solid #797a7e;
    margin-top: 150px;
    margin-left: 20%;
    padding: 20px 30px;
    height: 50vh;
    width: 50%;

}

.container .question-container {
	margin: 70px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

*:focus{
	outline: none;
}

.btn{
    padding: 3px 9px;
    background-color: #fff;
    /*border-radius: 25px;*/
    border: 1px solid #797a7e;
    cursor: pointer;

    width: 120px;
    /*padding: 8px;*/
    border-radius: 50px;
    border-style: solid;
    

    color: #000;
    cursor: pointer;
    transition: transform .2s;

}

.btn-grid > button{
	height: 40px;
	width: 100%;
	margin-top: 20px;
	background-color: transparent;
}

.btn-grid > button:active ,
{
	background-color: orange;

}

.btn-grid > button:hover{
  background-color: orange;
}

.btn-grid > button:focus{
  background-color: orange;
}



.btn:hover {
  transform: scale(1.2);
}

.question {
	font-weight: 800;

}

.start-btn {
	height: 40px;
	background-image: linear-gradient(to right, #00d2ff, #3a7bd5, #00d2ff);
}



.hide {
	display: none;
}


